// sizes
$size_xs: 0.25rem; // 4px
$size_s: 0.5rem; // 8px
$size_m: 1rem; // 16px
$size_l: 2rem; // 32px
$size_xl: 4rem; // 64px

// colors
$blue: hsl(228, 45%, 44%);
$grey_17: hsl(0, 0%, 17%);
$grey_59: hsl(0, 0%, 59%);
$white: #fff;

body {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  margin: 0;
  text-align: center;
}

a {
  color: $blue;
}

h2 {
  font-size: 22px;
}

.search-panel {
  background-image: url("../images/pattern-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: $size_m + $size_s; // 24px
  padding-bottom: 3 * $size_l - $size_s; // 88px
  width: 100%;

  h2 {
    font-weight: 700;
  }

  .search-panel__input {
    border-radius: 12px;
    font-size: 18px;
    margin: auto;
    width: 5 *$size_xl; // 320px

    &::placeholder {
      font-size: 14px;
      color: $grey_59;
    }
  }

  .search-panel__button {
    background-color: $grey_17;
    border-color: $grey_17;
    border-radius: 0 12px 12px 0;
    color: $white;
    height: 41px;

    &:hover {
      background-color: $grey_59;
      border-color: $grey_59;
    }
  }

  .search-panel__form {
    align-self: center;
    padding-top: $size_m;
    width: 6 *$size_xl; // 320px
  }
}

.search-panel--white {
  @extend .search-panel;

  h2 {
    color: $white;
  }
}

.search-result {
  height: 150px;
  width: 16 * $size_xl;
  align-self: center;
  z-index: 401;
  background-color: $white;
  bottom: 670px;
  border-radius: 12px;
  display: flex;
  max-width: 1100px;
  transform: translateY(50%);
  padding: 20px;
  position: absolute;
  width: 80%;
  bottom: 0;

  .search-result-section {
    flex: 1;
    justify-content: center;
    margin: 8px 0;
    padding: 8px;

    &-text {
      display: flex;
      color: $grey_59;
      font-size: 14px;
      font-weight: 700;
      justify-content: center;
      text-transform: uppercase;
    }

    &-value {
      display: flex;
      font-size: large;
      font-weight: 700;
      justify-content: center;
    }
  }

  .vr {
    align-self: center;
    height: 64px;
  }
}

#map {
  height: calc(100vh - 219px);
}

@media screen and (max-width: 765px) {

  #map {
    height: calc(100vh - 320px);
  }

  .search-result {
    height: 320px;
    width: 90%;
    display: flex;
    flex-direction: column;

    .search-result-section {
      padding: 0;
    }
  }

  .vr {
    display:none
  }

  .search-panel {
    height: 320px;
  }
}